.scores-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.scores-container button {
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  width: 13%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #cd6133;
  transition: 0.2s;
}
.scores-container button:hover {
  background-color: #cc8e35;
  transform: scale(1.1);
}
@media (max-width: 950px) {
  .scores-container button {
    width: 12%;
    font-size: 1.1rem;
    font-weight: 700;
  }
}
